/*==================================================================================
  GENERAL
==================================================================================*/
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	-webkit-tap-highlight-color: transparent;
}

p,
h1 {
	color: $color__main !important;
}
/* PRESETS
/––––––––––––––––––––––––*/

.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}
