/* PRESETS
/––––––––––––––––––––––––*/

.content-block {
	//create the "container" with this applied to any row or any 100% width element
	padding: 0 1rem;
	@media #{$breakpoint-sm-up} {
		padding: 0 1.5rem;
	}
	@media #{$breakpoint-md-up} {
		padding: 0 2rem;
	}
}

.noscroll {
	overflow: hidden;
}

:focus {
	outline: 0;
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
