/**
  * Variables
  * Contains re-usable variables like colors, sizes, breakpoints etc.
  * Normally, you don't have to change anything in essentials.css and general.css
  * because you'll define the basic-values here.
  *
  * @author     Flurin Dürst
  * @version    2.1.0
  * @since      WPSeed 0.1
  *
  */

/*==================================================================================
  SCALING
==================================================================================*/

$base_size: 1.7vw; // scales all `rem` based objects by adding this value as html font-size
$base_size_mobile: $base_size * 2.2; // scaling multiplicator for mobile viewport

/*==================================================================================
  COLORS
==================================================================================*/

/* Presets
/––––––––––––––––––––––––*/
$color__main: var(--main_color);
$color__text: #bf9262;
$color__link: #505050;
$color__link-hover: #f7f7f7;

/*==================================================================================
  DEFAULTS
==================================================================================*/
// these basic defaults are applied to the 'html', 'body', 'nav' or 'a' tags

/* HTML
/––––––––––––––––––––––––*/

/* BODY
/––––––––––––––––––––––––*/

/* NAV
/––––––––––––––––––––––––*/

/* ANCHORS
/––––––––––––––––––––––––*/
